<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>musicator</display-name>
	<welcome-file-list>
		<welcome-file>welcome</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistratiServlet</display-name>
		<servlet-name>RegistratiServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.RegistratiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistratiServlet</servlet-name>
		<url-pattern>/registrati</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BraniServlet</display-name>
		<servlet-name>BraniServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.BraniServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BraniServlet</servlet-name>
		<url-pattern>/brani</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BranoServlet</display-name>
		<servlet-name>BranoServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.BranoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BranoServlet</servlet-name>
		<url-pattern>/brano</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AlbumServlet</display-name>
		<servlet-name>AlbumServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.AlbumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlbumServlet</servlet-name>
		<url-pattern>/album</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RicercaGlobaleServlet</display-name>
		<servlet-name>RicercaGlobaleServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.RicercaGlobaleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaGlobaleServlet</servlet-name>
		<url-pattern>/ricerca_globale</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RicercheSpecificheServlet</display-name>
		<servlet-name>RicercheSpecificheServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.RicercheSpecificheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercheSpecificheServlet</servlet-name>
		<url-pattern>/ricerche_specifiche</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ArtistaServlet</display-name>
		<servlet-name>ArtistaServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.ArtistaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArtistaServlet</servlet-name>
		<url-pattern>/artista</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PlaylistServlet</display-name>
		<servlet-name>PlaylistServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.PlaylistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaylistServlet</servlet-name>
		<url-pattern>/playlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GenereServlet</display-name>
		<servlet-name>GenereServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.GenereServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenereServlet</servlet-name>
		<url-pattern>/genere</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AlbumsServlet</display-name>
		<servlet-name>AlbumsServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.AlbumsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlbumsServlet</servlet-name>
		<url-pattern>/albums</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PlaylistsServlet</display-name>
		<servlet-name>PlaylistsServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.PlaylistsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaylistsServlet</servlet-name>
		<url-pattern>/playlists</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ArtistiServlet</display-name>
		<servlet-name>ArtistiServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.ArtistiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArtistiServlet</servlet-name>
		<url-pattern>/artisti</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GeneriServlet</display-name>
		<servlet-name>GeneriServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.GeneriServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneriServlet</servlet-name>
		<url-pattern>/generi</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProfiloUtenteServlet</display-name>
		<servlet-name>ProfiloUtenteServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.ProfiloUtenteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfiloUtenteServlet</servlet-name>
		<url-pattern>/profilo-utente</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModificaUtenteServlet</display-name>
		<servlet-name>ModificaUtenteServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.ModificaUtenteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificaUtenteServlet</servlet-name>
		<url-pattern>/ModificaUtenteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeletePlaylistServlet</display-name>
		<servlet-name>DeletePlaylistServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.DeletePlaylistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePlaylistServlet</servlet-name>
		<url-pattern>/delete-playlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddToPlaylistServlet</display-name>
		<servlet-name>AddToPlaylistServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.AddToPlaylistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToPlaylistServlet</servlet-name>
		<url-pattern>/add-to-playlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveBranoPlaylistServlet</display-name>
		<servlet-name>RemoveBranoPlaylistServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.RemoveBranoPlaylistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveBranoPlaylistServlet</servlet-name>
		<url-pattern>/remove-brano-playlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdatePlaylistServlet</display-name>
		<servlet-name>UpdatePlaylistServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.UpdatePlaylistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePlaylistServlet</servlet-name>
		<url-pattern>/update-playlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SavePlaylistServlet</display-name>
		<servlet-name>SavePlaylistServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.SavePlaylistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavePlaylistServlet</servlet-name>
		<url-pattern>/save-playlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>it.generationitaly.musicator.controller.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
</web-app>